<ul role="list"  id="variables" class="divide-y divide-gray-200">
    {{#each variables}}
        <li class="py-4 text-sm font-medium">
            <pre class="inline">{{key}}</pre>: {{value}}
        </li>
    {{/each}}
</ul>
